#[include KAMP/*cfg]
[include KAMP_Settings.cfg]
[include safe_park.cfg]
[include safe_retract.cfg]
[include end_park.cfg]


[gcode_macro START_PRINT]

description: G-Code that runs at the start of a print job.
gcode:
#  SETUP_KAMP_MESHING DISPLAY_PARAMETERS=1
#  SETUP_LINE_PURGE DISPLAY_PARAMETERS=1
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=160
  SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
  M220 S100 ;Reset feedrate
  M221 S100 ;Reset flowrate
  G90 ; use absolute coordinates
  M83 ; extruder relative mode
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-1} MAXIMUM={BED_TEMP+1}   ; Wait for hotend temp (within 1 degree)
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-1} MAXIMUM={EXTRUDER_TEMP+1}   ; Wait for hotend temp (within 1 degree)
  G28 ; home all axis
  ATTACH_PROBE
  HOTEND_LED_ON
  Z_TILT_ADJUST
  BED_MESH_CLEAR
  DOCK_PROBE
  G28
  ATTACH_PROBE
#  CALIBRATE_Z
  BED_MESH_CALIBRATE
#  HOTEND_LED_OFF
#  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER_TEMP}
#  SAFE_PARK
#  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER_TEMP-1} MAXIMUM={EXTRUDER_TEMP+1}   ; Wait for hotend temp (within 1 degree)
#  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP-1} MAXIMUM={BED_TEMP+1}   ; Wait for hotend temp (within 1 degree)
#  HOTEND_LED_ON
  LINE_PURGE
  # G1 E0.5 F2100
  G1 E0.4 F2100


[gcode_macro END_PRINT]

description: G-Code that runs at the end of a print job.
gcode:
  HOTEND_LED_OFF
  M104 S0 ; Turn off hotend heater
  M140 S0 ; Turn off bed heater
  M107 ; Turn off part cooling fans
  SAFE_RETRACT
  END_PARK
  M84 X Y E ; disable all motors except Z
  M220 S100 ; Reset feedrate
  M221 S100 ; Reset flowrate
  SET_PRESSURE_ADVANCE ADVANCE=0.0 ; Reset PA value


[gcode_macro CANCEL_PRINT]

description: Cancel the running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  HOTEND_LED_OFF
  TURN_OFF_HEATERS
  M220 S100 ; Reset feedrate
  M221 S100 ; Reset flowrate
  SET_PRESSURE_ADVANCE ADVANCE=0.0 ; Reset PA value
  SAFE_RETRACT
  END_PARK
  M107 ; turn off fan
  CANCEL_PRINT_BASE


[gcode_macro PAUSE]

description: Pause the running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  HOTEND_LED_OFF
  SAVE_GCODE_STATE NAME=print_pause

  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  PAUSE_BASE
  SAFE_RETRACT
  SAFE_PARK
  # TODO: pause fan
  # SET_FAN_SPEED FAN=fan SPEED=0
  RESTORE_GCODE_STATE NAME=print_pause
    
    
[gcode_macro RESUME]

description: Resume the running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####

  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91; Use relative coordinates
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

  # TODO: unpause fan
  # SET_FAN_SPEED FAN=fan SPEED=0

  RESUME_BASE {get_params}
  HOTEND_LED_ON